@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="title"><strong>EAU CLAIRE'S SALON</strong></h1>
  <h2><strong>Stylist Details<strong></strong></h2>

  <div class="infoBox">
    @model HairSalon.Models.Stylist
    
    @using HairSalon.Models

    <h3><strong>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</strong></h3> 
    @Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)<br/>
    @Html.DisplayNameFor(model => model.DateHired): @Html.DisplayFor(model => model.DateHired)

    <h2><strong>*Client List*</strong></h2>
    <hr/>
    
    @if(Model.Clients.Count == 0)
    {
      <h4><strong>Clients List is EMPTY!</strong></h4>
    }
    <ul>
      @foreach (Client client in Model.Clients)
      {
        <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
      }
    </ul>
  </div>

  <h4 id="leftSidetLink">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</h4>
  <h4 id="rightSideLink">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</h4>

  <h4 id="leftSidetLink">@Html.ActionLink("Add Client", "Create", "Clients",new { id = Model.StylistId})</h4> 
  <h4 id="rightSideLink">@Html.ActionLink("Stylist List", "Index")</h4>
</div>