@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="title"><strong>EAU CLAIRE'S SALON</strong></h1>
  <h2><strong>Add New Client</strong></h2> 

  <div class="infoBox">
    @model HairSalon.Models.Client
    
    @using (Html.BeginForm())
    {
      <input type="hidden" id="StylistId" name="StylistId" value="@ViewBag.StylistId"/>

      <p>@Html.Label("Name:") 
      @Html.TextBoxFor(model => model.Name, new { required = "required" })</p>

      <p>@Html.LabelFor(model => model.PhoneNumber)
        <input type="tel" id="phone" name="PhoneNumber"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></p>
        <h7>Use this Formet: 111-222-3333</h7>

      <input type="submit" value="Add" id="btn2" />
    }

    <h4 id="sideLink2">@Html.ActionLink("Cancel", "Index", "Stylists" )</h4>
  </div>
</div> 

